<h1>Memory</h1>

<div class="card-container">
  <div class="card-row">
    <div class="card" ng-repeat="src in pokemonRow1 track by $index" ng-click="flip()" ng-class="{space: remove}">
      <img ng-show="front" ng-src="{{src}}" />
      <img ng-show="!front" ng-src="{{pokeball}}" />
    </div>
  </div>
  <div class="card-row">
    <div class="card" ng-repeat="src in pokemonRow2 track by $index" ng-click="flip()" ng-class="{space: remove}">
      <img ng-show="front" ng-src="{{src}}" />
      <img ng-show="!front" ng-src="{{pokeball}}" />
    </div>
  </div>
</div>

<h3>Score: {{score}}<h3>
